
lectures/.ipynb_checkpoints/Lecture-1 Basic Python for Astronomy-checkpoint.md
/lectures/.ipynb_checkpoints
lectures/hlsp_hugs_hst_acs-wfc_ngc0104_f814w_v1_stack-0050s.fits
lectures/hlsp_hugs_hst_acs-wfc_ngc7099_f814w_v1_stack-0007s.fits
